@import "../../assets/css/globals.scss";

.bookmark {
  position: relative;

  &:hover {
    span {
      display: block;
    }
  }

  i {
    font-size: 150%;
    cursor: pointer;
    padding: 5px;

    &#_0 {
      color: lighten($black, 60%);
    }

    &#_1 {
      color: $orange;
    }

    &#_2 {
      color: $blue;
    }

    &#_3 {
      color: $red;
    }

    &#_4 {
      color: $purple;
    }
  }

  span {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 30px;
    background-color: #fff;
    box-shadow: 0 0px 13px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    display: none;

    i {
      display: block;
      margin-bottom: 3px;
      padding: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: lighten($green, 40%);
      }
    }
  }
}
