@import "../../assets/css/globals.scss";

$colors: (
  "red": lighten($red, 20%),
  "green": $green,
  "blue": $blue,
  "gray": $gray,
  "orange": $orange,
);

.btn.fillet {
  border-radius: 6px;
  transition: top 0.1s;
  display: inline-block;
  outline: 0;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;

  &.strok {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: lighten($gray, 20%);
  }

  @each $key, $color in $colors {
    &.#{$key} {
      color: $white;
      background-color: $color;
      border: 1px solid $color;

      * {
        color: $white;
      }

      &.strok {
        border-color: $color;
        background-color: unset;
        color: $color;

        * {
          color: $color;
        }
      }
    }
  }

  &:disabled {
    background-color: lighten($black, 95%) !important;
    border: 1px solid lighten($black, 80%) !important;
    color: lighten($black, 70%) !important;
    cursor: not-allowed !important;

    i {
      color: lighten($black, 70%) !important;
    }
  }

  &.shadow {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  }

  &.small {
    padding: 3px 5px;
    font-size: 70%;
  }

  &.click {
    &:not(:disabled):active {
      top: 1px;
    }
  }

  &.hide {
    display: none !important;
  }

  i {
    margin-right: 3px;
    cursor: default;
  }
}
