@import "../../assets/css/globals.scss";

.select {
  color: lighten($black, 30%);
  border: 1px solid rgba(179, 179, 179, 0.658);
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  padding: 5px 30px 5px 15px;
  text-align: left;
  font-size: 90%;
  background-color: #fff;

  i {
    color: lighten($black, 30%);
    margin-left: auto;
    position: absolute;
    right: 2px;
    padding: 3px;
  }

  &:hover {
    ul {
      display: block;
    }
  }

  ul {
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 5px;
    top: 105%;
    width: 100%;
    background-color: #fff;
    display: none;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    li {
      padding: 5px 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover,
      &.selected {
        background-color: lighten($green, 40%);
      }
    }
  }
}
