$green: #29d2bf;
$blue: rgb(84, 214, 248);
$black: rgba(0, 0, 0, 0.658);
$red: rgb(250, 7, 7);
$gold: rgb(255, 196, 0);
$cyan: rgb(53, 220, 216);
$gray: lighten($black, 50%);
$gray_light: rgb(250, 250, 250);
$orange: rgb(255, 204, 102);
$purple: rgb(225, 0, 255);
$white: rgb(241, 241, 241);

$radius: 8px;

@mixin container {
  max-width: 1100px;
  margin: 0px auto;
  display: block;
}

.container {
  max-width: 1100px;
  margin: 0px auto;
  display: block;
}

.pad-t-100 {
  padding-top: 100px;
}

.w100 {
  width: 100%;
}

.flt-r {
  float: right;
}

a {
  text-decoration: none;
}

.btn {
  border: 1px solid;
  padding: 7px 15px;
  cursor: pointer;
  background-color: unset;
  display: flex;
}

.round {
  border-radius: 30px;
}

.fillet {
  border-radius: 5px;
}

.shadow {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.bg-green {
  background-color: $green;
  color: #fff;
  border-color: $green;
}

.bg-blue {
  background-color: $blue;
  color: #fff;
  border-color: $blue;
}

.bg-red {
  background-color: $red;
  color: #fff;
  border-color: $red;
}

.flt {
  float: left;
}

.x2 {
  font-size: 200%;
}
