@import "../../assets/css/globals.scss";

.btn.rounded {
  border-radius: 50px;
  position: relative;
  top: 0;
  transition: top 0.1s;
  display: inline-block;
  outline: 0;

  &:not(:disabled):active {
    top: 2px;
  }

  &.fill {
    border: 0;
    color: #fff !important;

    * {
      color: #fff !important;
    }
  }

  &.strok {
    border-width: 1px !important;
    border-style: solid !important;
  }

  &.red {
    color: lighten($red, 20%);

    &.fill {
      background-color: lighten($red, 20%);
    }

    &.strok {
      border-color: lighten($red, 20%);

      * {
        color: lighten($red, 20%);
      }
    }
  }

  &.green {
    color: $green;

    &.fill {
      background-color: $green;
    }

    &.strok {
      border-color: $green;

      * {
        color: $green;
      }
    }
  }

  &.blue {
    color: $blue;

    &.fill {
      background-color: $blue;
    }

    &.strok {
      border-color: $blue;

      * {
        color: $blue;
      }
    }
  }

  &.gray {
    color: $gray;

    &.fill {
      background-color: $gray;
    }

    &.strok {
      border-color: $gray;

      * {
        color: $gray;
      }
    }
  }

  &.orange {
    color: $orange;

    &.fill {
      background-color: $orange;
    }

    &.strok {
      border-color: $orange;

      * {
        color: $orange;
      }
    }
  }

  &:disabled {
    background-color: lighten($black, 95%) !important;
    border: 1px solid lighten($black, 80%) !important;
    color: lighten($black, 70%) !important;
    cursor: not-allowed;
  }

  &.shadow {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  }

  &.small {
    padding: 3px 5px;
    font-size: 80%;
  }
}
