@import "../../assets/css/globals.scss";

.input-counter {
  margin-top: 15px;

  textarea {
    width: 100%;
    min-height: 250px;
    border-radius: 5px;
    padding: 15px;
    font-size: 90%;
    outline: none;
    resize: none;
    color: $black;
    border: none;
    background-color: lighten($black, 95%);

    &.start {
      background-color: lighten($green, 44%);
    }

    &:disabled {
      cursor: not-allowed;
      color: transparentize($black, 0.5);
    }
  }

  small {
    margin-bottom: 10px;
    display: block;
  }
}
