#navigator {
    display: flex;
    justify-content: center;

    > * {
      width: 33.33%;
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    button {
      margin-right: 5px;

      &:last-of-type {
        margin-right: 0;
      }
    }
}
