@import "./assets/css/globals.scss";

* {
  box-sizing: border-box;
  color: $black;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $gray_light;
  color: $black;
  font-size: 12pt;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar {
  width: 250px;
  float: left;
}

.content {
  width: calc(100% - 250px);
  float: right;
  padding-left: 15px;
}
