.container {
  max-width: 1100px;
  margin: 0px auto;
  display: block;
}

.pad-t-100 {
  padding-top: 100px;
}

.w100 {
  width: 100%;
}

.flt-r {
  float: right;
}

a {
  text-decoration: none;
}

.btn {
  border: 1px solid;
  padding: 7px 15px;
  cursor: pointer;
  background-color: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.round {
  border-radius: 30px;
}

.fillet {
  border-radius: 5px;
}

.shadow {
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.bg-green {
  background-color: #74707a;
  color: #fff;
  border-color: #74707a;
}

.bg-blue {
  background-color: #54d6f8;
  color: #fff;
  border-color: #54d6f8;
}

.bg-red {
  background-color: #fa0707;
  color: #fff;
  border-color: #fa0707;
}

.flt {
  float: left;
}

.x2 {
  font-size: 200%;
}
/*# sourceMappingURL=globals.css.map */